:root {
    --side-buttons-bg-color: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    --center-box-bg-color: linear-gradient(to bottom, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    --center-btn-font-color: hsl(237, 63%, 64%);
    --body-font-color: hsl(232, 13%, 33%);
    --container-bg-color:hsl(240, 78%, 98%);
}


body{
    font-family:  'Montserrat', 'sans-serif';
    color: var(--body-font-color);
}

/* main container CSS properties */
.container{
    width: 100vw;
    height: 120vh;
    
    background-color: var(--container-bg-color);

    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    
    display: flex;
    flex-direction: column;
}

/* top section along with its sub container */
.top-section{
    color: #5f5f7a;
    align-self: center;
    text-align: center;
    margin: 30px 0px 30px 0px;
    width: 20vw;
    height: 30vh;
}

.main-title{
    font-size: 40px;
    font-weight: bold;
}

.toggle-box{
    display: flex;
    justify-content: space-between;
}

.toggle-key{
    align-self: center;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background-color: #6d6eb8;
}

/* bottom section along with its sub container */

.bottom-section{
    align-self: center;

    display: flex;
}

.box{
    
    box-shadow: 0px 0px 27px 0px rgba(179,179,179,1);
    
    align-self: center;
    
    width: 25vw;
    height: 60vh;
    
    text-align: center;
    
    padding: 20px 20px 10px 20px;
    
    background-color: #fff;
}

.center-box{
    height: 63vh;

    border-radius: 10px;

    padding-top: 40px;

    color: white;
    background-image: var(--center-box-bg-color);
    
}

.left-box{
    border-radius: 10px 0px 0px 10px;
}
.right-box{
    border-radius: 0px 10px 10px 0px;
}

.title{
    font-size: 17px;
    
    margin: 0 auto;
}

.price-section{
    display: flex;
    justify-content: center;
}

span{
    font-size: 35px;
    align-self: center;
    font-weight: 600;
}

.price{
    font-size: 55px;
    
    margin: 20px 0px 20px 0px;
}

hr{
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    opacity: 0.3;
}

.specifications{
    font-size: 0.9em;
    font-weight: 700;
    font-size: 15px;
}

.details-btn{
    width: 23vw;
    height: 6vh;

    font-size: 15px;
    font-weight: 600;

    color: #fff;

    border-radius: 5px;
    border-width: 0;

    margin-top: 20px;
}

.left-btn, .right-btn{
    background-image: var(--side-buttons-bg-color);
}

.center-btn{
    color: var(--center-btn-font-color);
    background-color: #fff;
}

